.main-wrapper {
  margin-top: 85px;
}

.page-wrapper {
  width: 650px;
  margin: 0 auto;
  display: block;
  height: 100vh;
}

.content-wrapper {
  top: 150px;
  position: relative;
  transform: translateY(-65px);
}

.active .content-wrapper {
  top: 50%;
}

.content-enter {
  opacity: 0;
}
.content-enter.content-enter-active {
  opacity: 1;
  transition: 0.5s;
}
.content-leave {
  opacity: 1;
}
.content-leave.content-leave-active {
  opacity: 0;
  transition: 500ms;
}

.loading {
  display: block;
  background: url("./icons/loading.gif") center center no-repeat;
  height: 50px;
  width: 50px;
  margin: 40px auto;

}

.not-loading {
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  font-family: Tahoma;
  display: block;
  padding: 20px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #bdbdbd;
  word-spacing: 30px;
  margin: 40px auto;
  opacity: 0.5;
}
