<ul class="sidebar-nav">
  <li><a href="#index">Index</a></li>
  <li><a href="#test1">Test1</a></li>
  <li><a href="#test2">Test2</a></li>
</ul>
<section class="main-wrapper">
  <%= react_component('Router') %>
</section>
